/* Half Window */
.half-window-player {
  width: 100% !important;
  aspect-ratio: 16 / 9 !important;
  height: unset !important;
}

div.half-window-chats[aria-label='右カラム'] {
  bottom: 0 !important;
  position: fixed !important;
  top: auto !important;
  width: 100% !important;
  height: calc(100vh - 100vw * 9 / 16) !important;
}

.half-window-chats .stream-chat-header,
.half-window-chats .chat-input-tray__open {
  display: none !important;
}

.half-window-chats .chat-input__buttons-container {
  margin: 0 !important;
}

.half-window-chats .chat-input {
  padding: 0 !important;
}

.half-window-chats .chat-wysiwyg-input__editor {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.half-window-chats .channel-root__right-column {
  width: 100% !important;
}

.half-window-chats .right-column__toggle-visibility {
  display: none;
}

/* Block Stamp */
h4[data-test-selector='emote-code-header'] {
  width: calc(100% - 60px) !important;
}

.block-stamp-button {
  appearance: none;
  padding: 5px 15px;
  height: 30px;
  color: white;
  background-color: #b10303;
  border-radius: 0.4rem;
}

.block-stamp-button:hover {
  background-color: #b72424;
}

.block-stamp-button-blocked {
  appearance: none;
  padding: 5px 15px;
  height: 30px;
  color: white;
  background-color: #04a704;
  border-radius: 0.4rem;
}

.block-stamp-button-blocked:hover {
  background-color: #45a445;
}

/* Block Chat */
.hidden-chat {
  display: none;
}
